body {
    background-color: black;
}

#canvas1 {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    border: 5px solid rgb(246, 255, 0);
}

#playerImage, #backgroundImage, #enemyImage {
    display: none;
}

.lopikula {
    color: white;
    text-align: center;
}